In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('blood.csv')

In [9]:
df

     class  V1  V2     V3  V4
0        1   2  50  12500  98
1        1   0  13   3250  28
2        1   1  16   4000  35
3        1   2  20   5000  45
4        0   1  24   6000  77
..     ...  ..  ..    ...  ..
743      0  23   2    500  38
744      0  21   2    500  52
745      0  23   3    750  62
746      0  39   1    250  39
747      0  72   1    250  72

[748 rows x 5 columns]

In [4]:
cols = df.columns.tolist()
n = int(cols.index('class'))
cols = [cols[n]] + cols[:n] + cols[n+1:]
df = df[cols]

In [6]:
df.to_csv('blood_data.csv',index=False,header=False,sep=' ')